@import './common.module.scss';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-weight: 400;
  font-style: normal;
}

html, body, #__next {
  height: 100%;
}

body {
  background-color: rgba(40, 44, 52, 0.83);
  font-size: 1.8rem;
  color: $text-body;
}
